<div class="text-left">
  <h2 class="text-center mt-2">
    Tareas de Angular
  </h2>
  <p>
    Ejemplo de crear un <b> Provider  </b> o <b> Service </b> para realizar las operaciones de Crud 
    contra un servicio <b>REST</b>.
  </p>

  <hr>

  <p><b>Json del array de tareas:</b> <code class="text-dark"> {{tareas | json}}</code></p>

  <hr>

  <div class="row mb-2 justify-content-center">
    <div class="col col-4">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" (click)="filtrar(0)" class="btn btn-success {{(todas)?'active':''}}">Todas</button>
        <button type="button" (click)="filtrar(1)" class="btn btn-success {{(!todas)?'active':''}}">Pendientes</button>
      </div>
    </div>
    
    <div class="col col-4">
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="nueva" class="form-control" placeholder="Nombre tarea">
        <div class="input-group-append">
          <button (click)="nuevaTarea()" class="btn btn-outline-primary" type="button">Crear nueva</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center mb-4">
    <div class="col col-8">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let t of tareas | completas:todas">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input (change)="terminar(t)" type="checkbox" value="{{t.id}}" checked="{{t.terminado ? 'checked':''}}">
              </div>
            </div>
            <span class="form-control" *ngIf="!t.terminado">{{t.titulo}}</span>
            <span class="form-control" *ngIf="t.terminado"><del>{{t.titulo}}</del></span>
            <i (click)="borrar(t)" class="text-danger text-center ml-4 fas fa-trash-alt"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>