<div class="text-left mt-2 mb-4">
  <h2 class="text-center">Formularios reactivos en Angular</h2>
  <a target="_blank" href="https://angular.io/guide/reactive-forms">Documentación oficial</a>

  <hr>

  <div>
    <h3>FormControl para nombre</h3>
    <p>{{simple | json}}</p>
    <label>
      Nombre:
      <input type="text" [formControl]="simple">
    </label>
  </div>

  <hr>

  <h3>FormGroup para Formulario Completo</h3>
  <div class="">
    <p><b>Valores:</b> {{formulario.value | json}}</p>
    <p><b>Estado:</b> {{formulario.status | json}} </p>
  </div>

  <button class="btn btn-outline-info" (click)="cargarFormulario()">Precargar formulario</button>
  <form [formGroup]="formulario" novalidate (ngSubmit)="enviar()">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="nombre" class="col-form-label">Nombre:</label>
          <input name="nombre" class="form-control" type="text" formControlName="nombre">
          <small class="form-text text-danger" 
          *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched">
            *Mínimo 2 letras y máximo 50.
          </small>
          <small class="form-text text-success" *ngIf="formulario.controls.nombre.valid">
            Nombre válido
          </small>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label for="precio" class="col-form-label">Precio:</label>
          <input name="precio" class="form-control" type="number" step="0.5" formControlName="precio">
          <small class="form-text text-danger" 
          *ngIf="formulario.controls.precio.invalid && formulario.controls.precio.touched">
            *Precio tiene que estar entre 0.1 y 9999 &euro;
          </small>
          <small class="form-text text-success" *ngIf="formulario.controls.precio.valid">
            Precio válido
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="calorias" class="col-form-label">Calorías:</label>
          <input name="calorias" type="number" step="1" class="form-control" formControlName="calorias">
          <small class="form-text text-danger" 
          *ngIf="formulario.controls.calorias.invalid && formulario.controls.calorias.touched">
            *Mínimo 10 Kcal y máximo 99999.
          </small>
          <small class="form-text text-success" *ngIf="formulario.controls.calorias.valid">
            Calorias válidas
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="cantidad" class="col-form-label">Cantidad:</label>
          <input name="cantidad" type="number" step="1" class="form-control" formControlName="cantidad">
          <small class="form-text text-danger" 
          *ngIf="formulario.controls.cantidad.invalid && formulario.controls.cantidad.touched">
            *Mínimo 1 y máximo 99.
          </small>
          <small class="form-text text-success" *ngIf="formulario.controls.cantidad.valid">
            Cantidad válida
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="imagen" class="col-form-label">Imagen:</label>
          <input name="imagen" type="text" class="form-control" formControlName="imagen">
          <small class="form-text text-danger" 
          *ngIf="formulario.controls.imagen.invalid && formulario.controls.imagen.touched">
            *No es una url válida.
          </small>
          <small class="form-text text-success" *ngIf="formulario.controls.imagen.valid">
            Imagen válida
          </small>
          
        </div>
      </div>
      <div class="col">
        <img class="" style="width:100px" src="{{formulario.controls.imagen.value}}" alt="imagen destacada">
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col col-6">
        <div class="form-check">
          <input name="oferta" class="form-check-input" type="checkbox" value="" formControlName="oferta">
          <label class="form-check-label" for="oferta">
            En oferta
          </label>
        </div>
      </div>
      <div class="col col-6">
        <div class="form-group" [hidden]="!formulario.controls.oferta.value">
          <label for="descuento" class="col-form-label">Descuento:</label>
          <input name="descuento" type="number" step="5" class="form-control" formControlName="descuento">
          <small class="form-text text-danger" 
          *ngIf="formulario.controls.descuento.invalid && formulario.controls.descuento.touched">
            *Mínimo 5 y máximo 90.
          </small>
          <small class="form-text text-success" *ngIf="formulario.controls.descuento.valid">
            Descuento válido
          </small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="colores" class="col-form-label">Colores:</label>
          <input name="colores" type="text" class="form-control" formControlName="colores">
        </div>
      </div>
    </div>

    <input type="submit" class="btn btn-outline-primary" [disabled]="formulario.status === 'INVALID'">
  </form>
</div>