<div class="text-left mt-2 mb-4">
  <h2 class="text-center">Formularios reactivos en Angular</h2>
  <a target="_blank" href="https://angular.io/guide/reactive-forms">Documentación oficial</a>

  <hr>

  <div>
    <h3>FormControl para nombre</h3>
    <p>{{simple | json}}</p>
    <label>
      Nombre:
      <input type="text" [formControl]="simple">
    </label>
  </div>

  <hr>

  <h3>FormGroup para Formulario Completo</h3>
  <div class="">
    <p><b>Valores:</b> {{formulario.value | json}}</p>
    <p><b>Estado:</b> {{formulario.status | json}} </p>
  </div>
  <form [formGroup]="formulario" novalidate (ngSubmit)="enviar()">
    <button class="btn btn-outline-info" (click)="cargarFormulario()">Precargar formulario</button>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="nombre" class="col-form-label">Nombre:</label>
          <input name="nombre" class="form-control" type="text" formControlName="nombre">
          <small class="form-text text-danger" 
          *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched">
            *Mínimo 2 letras y máximo 50.
          </small>
          <small class="form-text text-success" *ngIf="formulario.controls.nombre.valid">
            Nombre válido
          </small>
        </div>
      </div>

      <div class="col">
        <label for="precio" class="col-form-label">Precio:</label>
        <input name="precio" class="form-control" type="number" step="0.5" formControlName="precio">
        <small class="form-text text-danger" 
        *ngIf="formulario.controls.precio.invalid && formulario.controls.precio.touched">
          *Precio tiene que estar entre 0.01 y 9999 &euro;
        </small>
        <small class="form-text text-success" *ngIf="formulario.controls.precio.valid">
          Precio válido
        </small>
      </div>
    </div>
    <input type="submit" class="btn btn-outline-primary" [disabled]="formulario.status === 'INVALID'">
  </form>
<!--     private _precio: number;
    private _calorias: number;
    private _colores: string[];
    private _oferta: boolean;
    private _descuento: number;
    private _imagen: string;
    private _cant: number; -->
</div>